connectIQ_MQTT_sim.json
[{"id":"b292a92f.556238","type":"tab","label":"sim","disabled":false,"info":""},{"id":"7592d823.a7f988","type":"inject","z":"b292a92f.556238","name":"Payment [kWh]","props":[{"p":"payload.kWh","v":"0.04","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":120,"y":180,"wires":[["72ecea12.5ad5e4"]]},{"id":"ab8f485f.480a28","type":"mqtt out","z":"b292a92f.556238","name":"pub /charge","topic":"","qos":"1","retain":"false","broker":"acf0619e.f5c9","x":1170,"y":920,"wires":[]},{"id":"72ecea12.5ad5e4","type":"function","z":"b292a92f.556238","name":"Payment Object","func":"var kWh = msg.payload.kWh * 1000;\nvar client_id = flow.get(\"client_id\");\n        \nmsg.payload =  {\n  \"_id\": \"06ddf12dc180a2a6261335752810edd9\",\n  \"_rev\": \"1-f2bef3b8390fb966857ee0af7c8f52ce\",\n  \"docType\": \"session\",\n  \"chargingPoint\": \"DE*CIQ*E0019\",\n  \"payee\": \"hello@chargeiq.de\",\n  \"type\": \"standard\",\n  \"kWh\": kWh,\n  \"client_id\": `${client_id}`,\n  \"stakeOwn\": 0.65,\n  \"stakePartner\": 0,\n  \"stakeE4charge\": 0.2,\n  \"price\": 1.2,\n  \"transactionRef\": \"35V68905V6499470X\",\n  \"payer\": \"ADLZQGF2463BA\",\n  \"paymentType\": \"paypal\",\n  \"agbAccepted\": true,\n  \"timestamp\": Math.round(new Date().getTime()/1000)\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":180,"wires":[["4227094c.e8f808"]]},{"id":"4227094c.e8f808","type":"http request","z":"b292a92f.556238","name":"","method":"POST","ret":"obj","paytoqs":"body","url":"127.0.0.1:1880/sim","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":180,"wires":[[]]},{"id":"a294567b.baed28","type":"http in","z":"b292a92f.556238","name":"http in","url":"/sim","method":"post","upload":true,"swaggerDoc":"","x":330,"y":280,"wires":[["aad0cd3f.daa45","33531afe.8c8a36"]]},{"id":"aad0cd3f.daa45","type":"http response","z":"b292a92f.556238","name":"","statusCode":"200","headers":{},"x":680,"y":240,"wires":[]},{"id":"33531afe.8c8a36","type":"function","z":"b292a92f.556238","name":"MQTT message/topic","func":"var kWh = msg.payload.kWh;\nvar client_id = flow.get(\"client_id\");\n// set mqtt topic \nmsg.topic = `ciq/sim/${client_id}/charge/cmd`;\n// set mqtt message\nmsg.payload = {\"action\":\"charge\",\"params\":[kWh]};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":280,"wires":[["3ee10821.5d5438"]]},{"id":"cd1d9f48.55d59","type":"inject","z":"b292a92f.556238","name":"Statusabfrage","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":400,"wires":[["8fa5e1f8.2c87f"]]},{"id":"d4455884.070d28","type":"mqtt out","z":"b292a92f.556238","name":"pub /charge/cmd","topic":"","qos":"1","retain":"false","broker":"acf0619e.f5c9","x":990,"y":440,"wires":[]},{"id":"21e897c1.025318","type":"function","z":"b292a92f.556238","name":"","func":"var client_id = flow.get(\"client_id\");\nmsg.payload = flow.get(`amount${client_id}`);\n//msg.payload = flow.get(\"client_id\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":1260,"wires":[["a8efbfc2.00d24"]]},{"id":"a8efbfc2.00d24","type":"debug","z":"b292a92f.556238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":1260,"wires":[]},{"id":"8fa5e1f8.2c87f","type":"function","z":"b292a92f.556238","name":"MQTT message/topic","func":"var client_id = flow.get(\"client_id\");\n// set mqtt topic \nmsg.topic = `ciq/sim/${client_id}/charge/cmd`;\n\n// set mqtt message\nmsg.payload = {\"action\":\"status\",\"params\":[]};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":400,"wires":[["d4455884.070d28"]]},{"id":"4cb90f53.8052","type":"inject","z":"b292a92f.556238","name":"get counter","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":140,"y":1260,"wires":[["21e897c1.025318"]]},{"id":"ef008f10.a503d","type":"inject","z":"b292a92f.556238","name":"amount-abfrage","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":120,"y":440,"wires":[["135e91ee.46c96e"]]},{"id":"135e91ee.46c96e","type":"function","z":"b292a92f.556238","name":"MQTT message/topic","func":"var client_id = flow.get(\"client_id\");\n// set mqtt topic \nmsg.topic = `ciq/sim/${client_id}/charge/cmd`;\n// set mqtt message\nmsg.payload = {\"action\":\"amount\",\"params\":[]};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":440,"wires":[["d4455884.070d28"]]},{"id":"74f1a593.89216c","type":"inject","z":"b292a92f.556238","name":"reset counter","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":1220,"wires":[["a391efb5.5edae"]]},{"id":"a391efb5.5edae","type":"function","z":"b292a92f.556238","name":"","func":"var client_id = flow.get(\"client_id\");\n\nflow.set(`amount${client_id}`,null);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":1220,"wires":[[]]},{"id":"4c542046.5557","type":"inject","z":"b292a92f.556238","name":"connect EV","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":620,"wires":[["b939aac6.6fa6f8"]]},{"id":"b939aac6.6fa6f8","type":"function","z":"b292a92f.556238","name":"EV","func":"var client_id = flow.get(\"client_id\");\nvar ev = flow.get(`EV_${client_id}`);\nflow.set(`EV_${client_id}`,true);\nvar arr = [];\nmsg.topic = `ciq/sim/${client_id}/charge`;\n\nif (ev === false) {\n    msg.payload = {\"event\":\"EV\"};\n    arr = [msg];\n} else {\n    arr = [null];\n}\n\nreturn arr;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":640,"wires":[["b08f9ddc.d974b","ab8f485f.480a28"]]},{"id":"71d3c6c3.5bc698","type":"function","z":"b292a92f.556238","name":"EV_lost","func":"var client_id = flow.get(\"client_id\");\nvar ev = flow.get(`EV_${client_id}`);\nflow.set(`EV_${client_id}`,false);\nvar arr = [];\nmsg.topic = `ciq/sim/${client_id}/charge`;\n\nif (ev === true) {\n    msg.payload = {\"event\":\"EV_lost\"};\n    arr = [msg];\n} else {\n    arr = [null];\n}\n\nreturn arr;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":680,"wires":[["b08f9ddc.d974b","ab8f485f.480a28"]]},{"id":"6c0163ac.32b22c","type":"inject","z":"b292a92f.556238","name":"disconnect EV","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":660,"wires":[["71d3c6c3.5bc698"]]},{"id":"da74a311.2db11","type":"function","z":"b292a92f.556238","name":"increment","func":"var topic = msg.topic.split(\"/\");\nvar client_id = topic[2];\nvar amount = flow.get(`amount${client_id}`);\n\namount = amount + 1;\n\nflow.set(`amount${client_id}`, amount);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":820,"wires":[["4b6db957.abf278"]]},{"id":"87d01fac.20879","type":"function","z":"b292a92f.556238","name":"flow.set","func":"var topic = msg.topic.split(\"/\");\nvar client_id = topic[2];\nflow.set(`amount${client_id}`, Number(0));\nflow.set(`max${client_id}`, Number(msg.payload.params[0]));\nflow.set(`amps${client_id}`, Number(16));\nflow.set(`config${client_id}`, Number(16));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":760,"wires":[["34fe0e79.4ee3f2"]]},{"id":"c232e1ec.5cdc","type":"mqtt in","z":"b292a92f.556238","name":"sub /charge/cmd","topic":"ciq/sim/+/charge/cmd","qos":"1","datatype":"json","broker":"acf0619e.f5c9","x":120,"y":820,"wires":[["d6a24b36.a6c158"]]},{"id":"509fc01b.72499","type":"switch","z":"b292a92f.556238","name":"not charging","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"charge","vt":"str"},{"t":"eq","v":"set","vt":"str"},{"t":"eq","v":"amount","vt":"str"},{"t":"eq","v":"status","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":270,"y":900,"wires":[["87d01fac.20879","c6333020.9d8c6"],["7bd67792.9f2668"],["c65d7147.52cb1"],["598b3cb4.717064"]]},{"id":"4d358962.27be48","type":"function","z":"b292a92f.556238","name":"stop","func":"var topic = msg.topic.split(\"/\");\nvar client_id = topic[2];\nvar amount = flow.get(`amount${client_id}`);\nvar max = flow.get(`max${client_id}`);\nvar ev = flow.get(`EV_${client_id}`);\n\nflow.set(`amount${client_id}`,null);\nflow.set(`amps${client_id}`,Number(0));\nflow.set(`config${client_id}`,Number(0));\n\nfunction Sleep(ms) {\n    return new Promise(resolve => setTimeout(resolve, ms));\n}\n\nif (ev === true) {\n    msg.payload = {\"amount\":amount,\"event\":\"stop\",\"max\":max,\"reason\":\"normal\"};\n} else {\n    await Sleep(1000);\n    msg.payload = {\"amount\":amount,\"event\":\"stop\",\"max\":max,\"reason\":\"no_ev\"};\n}\nmsg.topic = `ciq/sim/${client_id}/charge`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":780,"wires":[["b08f9ddc.d974b","ab8f485f.480a28"]]},{"id":"9b569ef7.4afd3","type":"function","z":"b292a92f.556238","name":"start","func":"var topic = msg.topic.split(\"/\");\nvar client_id = topic[2];\nvar amount = flow.get(`amount${client_id}`);\nvar max = flow.get(`max${client_id}`);\n\nfunction Sleep(ms) {\n    return new Promise(resolve => setTimeout(resolve, ms));\n}\nawait Sleep(500);\n\nmsg.payload = {\"event\":\"start\",\"max\":max};\nmsg.topic = `ciq/sim/${client_id}/charge`;\n        \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":740,"wires":[["b08f9ddc.d974b","ab8f485f.480a28"]]},{"id":"b08f9ddc.d974b","type":"debug","z":"b292a92f.556238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":880,"wires":[]},{"id":"f2b05a42.320248","type":"switch","z":"b292a92f.556238","name":"charging","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"charge","vt":"str"},{"t":"eq","v":"set","vt":"str"},{"t":"eq","v":"amount","vt":"str"},{"t":"eq","v":"status","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":280,"y":980,"wires":[["9a208c66.20a86"],["a1ff53ac.ba7be"],["81fb45ed.57c7a8"],["7584379e.ad1b98"]]},{"id":"9a208c66.20a86","type":"function","z":"b292a92f.556238","name":"charge","func":"var topic = msg.topic.split(\"/\");\nvar client_id = topic[2];\nvar amount = flow.get(`amount${client_id}`);\nvar max = flow.get(`max${client_id}`);\n\nmsg.payload = {\"action\":\"charge\",\"error\":\"already_started\",\"params\":[max]};\nmsg.topic = `ciq/sim/${client_id}/charge`;    \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":1020,"wires":[["b08f9ddc.d974b","ab8f485f.480a28"]]},{"id":"81fb45ed.57c7a8","type":"function","z":"b292a92f.556238","name":"amount","func":"var topic = msg.topic.split(\"/\");\nvar client_id = topic[2];\nvar amount = flow.get(`amount${client_id}`);\nvar max = flow.get(`max${client_id}`);\n\nmsg.payload = {\"action\":\"amount\",\"params\":[],\"response\":{\"amount\":amount,\"max\":max}};\nmsg.topic = `ciq/sim/${client_id}/charge`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":1100,"wires":[["b08f9ddc.d974b","ab8f485f.480a28"]]},{"id":"7584379e.ad1b98","type":"function","z":"b292a92f.556238","name":"status","func":"var topic = msg.topic.split(\"/\");\nvar client_id = topic[2];\nvar amount = flow.get(`amount${client_id}`);\nvar max = flow.get(`max${client_id}`);\nvar amps = flow.get(`amps${client_id}`);\nvar config = flow.get(`config${client_id}`);\n\n//if (config === undefined || config === null) {\n//    config = Number(0);\n//}\n\nmsg.payload = {\"action\":\"status\",\"params\":[],\"response\":{\"amps\":amps,\"config\":config,\"pp\":32,\"status\":\"charging\"}};\nmsg.topic = `ciq/sim/${client_id}/charge`;\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":1140,"wires":[["b08f9ddc.d974b","ab8f485f.480a28"]]},{"id":"c6333020.9d8c6","type":"function","z":"b292a92f.556238","name":"charge","func":"var topic = msg.topic.split(\"/\");\nvar client_id = topic[2];\nvar amount = flow.get(`amount${client_id}`);\nvar max = flow.get(`max${client_id}`);\n\nmsg.payload = {\"action\":\"charge\",\"params\":[max],\"response\":\"OK\"};\nmsg.topic = `ciq/sim/${client_id}/charge`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":840,"wires":[["b08f9ddc.d974b","ab8f485f.480a28"]]},{"id":"c65d7147.52cb1","type":"function","z":"b292a92f.556238","name":"amount","func":"var topic = msg.topic.split(\"/\");\nvar client_id = topic[2];\nvar amount = flow.get(`amount${client_id}`);\nvar max = flow.get(`max${client_id}`);\n\nmsg.payload = {\"action\":\"amount\",\"error\":\"No charging process\",\"params\":[]};\nmsg.topic = `ciq/sim/${client_id}/charge`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":920,"wires":[["b08f9ddc.d974b","ab8f485f.480a28"]]},{"id":"598b3cb4.717064","type":"function","z":"b292a92f.556238","name":"status","func":"var topic = msg.topic.split(\"/\");\nvar client_id = topic[2];\nvar amount = flow.get(`amount${client_id}`);\nvar max = flow.get(`max${client_id}`);\nvar amps = flow.get(`amps${client_id}`);\nvar config = flow.get(`config${client_id}`);\nvar ev = flow.get(`EV_${client_id}`);\n\n//if (config === undefined || config === null) {\n//    config = Number(0);\n//}\n\nif (ev === true) {\n    msg.payload = {\"action\":\"status\",\"params\":[],\"response\":{\"amps\":amps,\"config\":config,\"pp\":32,\"status\":\"ev\"}};\n} else {\n    msg.payload = {\"action\":\"status\",\"params\":[],\"response\":{\"amps\":0,\"config\":0,\"pp\":32,\"status\":\"ready\"}};\n}\nmsg.topic = `ciq/sim/${client_id}/charge`;\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":960,"wires":[["b08f9ddc.d974b","ab8f485f.480a28"]]},{"id":"34fe0e79.4ee3f2","type":"function","z":"b292a92f.556238","name":"switch","func":"var topic = msg.topic.split(\"/\");\nvar client_id = topic[2];\nvar amount = flow.get(`amount${client_id}`);\nvar max = flow.get(`max${client_id}`);\nvar ev = flow.get(`EV_${client_id}`);\n\nvar arr = [];\n\nif (ev === true) {\n    if (amount >= max) {\n        arr =  [null, msg, null];\n    } if (amount < max) {\n        if (amount === 0) {\n            arr =  [msg, null, msg];\n        } else {\n            arr =  [null, null, msg];\n        }\n    }\n} else {\n    if (amount === 0) {\n        arr =  [msg, msg, null];\n    } else {\n        arr =  [null, msg, null];\n    }\n}\n\nreturn arr;","outputs":3,"noerr":0,"initialize":"","finalize":"","x":570,"y":760,"wires":[["9b569ef7.4afd3"],["4d358962.27be48"],["da74a311.2db11"]]},{"id":"d6a24b36.a6c158","type":"function","z":"b292a92f.556238","name":"switch","func":"var topic = msg.topic.split(\"/\");\nvar client_id = topic[2];\nvar amount = flow.get(`amount${client_id}`);\nvar max = flow.get(`max${client_id}`);\nvar arr = [];\n\nif (amount === null || amount === undefined) {\n    arr = [msg, null];\n} if (amount > 0) {\n    arr = [null, msg];\n}\n\nreturn arr;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":110,"y":940,"wires":[["509fc01b.72499"],["f2b05a42.320248"]]},{"id":"4b6db957.abf278","type":"function","z":"b292a92f.556238","name":"Ladekurve","func":"var topic = msg.topic.split(\"/\");\nvar client_id = topic[2];\nvar amount = flow.get(`amount${client_id}`);\nvar max = flow.get(`max${client_id}`);\n\nvar P = 11000; // Leistung der Wallbox\nvar whs = P/3600; // Wh/s\nvar d = whs/max;\n\nvar t = (1/d) * (Math.log((max)/((max)-(amount))));\nvar sleep = (1 / ((max) * d * Math.exp(-d * t)));\n\nfunction Sleep(ms) {\n    return new Promise(resolve => setTimeout(resolve, ms));\n}\n\nawait Sleep(sleep * 1000);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":820,"wires":[["34fe0e79.4ee3f2"]]},{"id":"7bd67792.9f2668","type":"function","z":"b292a92f.556238","name":"set","func":"var topic = msg.topic.split(\"/\");\nvar client_id = topic[2];\nvar amount = flow.get(`amount${client_id}`);\nvar max = flow.get(`max${client_id}`);\n\nvar config = msg.payload.params[0];\n//flow.set(`config${client_id}`);\n\nmsg.payload = {\"action\":\"set\",\"params\":[config],\"response\":\"OK\"};\nmsg.topic = `ciq/sim/${client_id}/charge`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":880,"wires":[["b08f9ddc.d974b","ab8f485f.480a28"]]},{"id":"a1ff53ac.ba7be","type":"function","z":"b292a92f.556238","name":"set","func":"var topic = msg.topic.split(\"/\");\nvar client_id = topic[2];\nvar amount = flow.get(`amount${client_id}`);\nvar max = flow.get(`max${client_id}`);\n\nvar config = msg.payload.params[0];\nflow.set(`config${client_id}`,config);\nflow.set(`amps${client_id}`,config);\n\nmsg.payload = {\"action\":\"set\",\"params\":[config],\"response\":\"OK\"};\nmsg.topic = `ciq/sim/${client_id}/charge`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":1060,"wires":[["b08f9ddc.d974b","ab8f485f.480a28"]]},{"id":"e5677f82.8e686","type":"inject","z":"b292a92f.556238","name":"set amps","props":[{"p":"payload.config","v":"10","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":140,"y":480,"wires":[["eaa37503.fb0858"]]},{"id":"eaa37503.fb0858","type":"function","z":"b292a92f.556238","name":"MQTT message/topic","func":"var client_id = flow.get(\"client_id\");\n// set mqtt topic \nmsg.topic = `ciq/sim/${client_id}/charge/cmd`;\n// set mqtt message\nmsg.payload = {\"action\":\"set\",\"params\":[10]};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":480,"wires":[["d4455884.070d28"]]},{"id":"4ae75d59.197c04","type":"inject","z":"b292a92f.556238","name":"set client_id","props":[{"p":"payload.client_id","v":"SIM000000001","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":80,"wires":[["449b7db.6caf584"]]},{"id":"449b7db.6caf584","type":"function","z":"b292a92f.556238","name":"flow.set","func":"var client_id = msg.payload.client_id;\nflow.set(\"client_id\",client_id);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":80,"wires":[[]]},{"id":"7c7e2726.576868","type":"comment","z":"b292a92f.556238","name":"debug","info":"","x":110,"y":1180,"wires":[]},{"id":"8f8129fe.d99798","type":"comment","z":"b292a92f.556238","name":"connectIQ IN","info":"","x":110,"y":780,"wires":[]},{"id":"eaeae777.d30eb8","type":"comment","z":"b292a92f.556238","name":"connectIQ OUT","info":"","x":1180,"y":840,"wires":[]},{"id":"bf726cff.7b6ca","type":"comment","z":"b292a92f.556238","name":"HTTP-Request (Payment Object)","info":"","x":750,"y":140,"wires":[]},{"id":"c57c0797.3214b8","type":"comment","z":"b292a92f.556238","name":"HTTP Post-Call (Payment Object)","info":"","x":410,"y":240,"wires":[]},{"id":"f75733b4.6cacd","type":"comment","z":"b292a92f.556238","name":"generate Payment Object","info":"","x":390,"y":140,"wires":[]},{"id":"3ee10821.5d5438","type":"mqtt out","z":"b292a92f.556238","name":"pub /charge/cmd","topic":"","qos":"1","retain":"false","broker":"acf0619e.f5c9","x":990,"y":280,"wires":[]},{"id":"cb0f05fa.a6bb38","type":"comment","z":"b292a92f.556238","name":"Backend OUT","info":"","x":970,"y":240,"wires":[]},{"id":"68063b9d.07f6a4","type":"comment","z":"b292a92f.556238","name":"3.) some MQTT examples","info":"","x":170,"y":360,"wires":[]},{"id":"38d457d4.ef1e18","type":"comment","z":"b292a92f.556238","name":"connect/disconnect a car","info":"","x":170,"y":580,"wires":[]},{"id":"3f98113d.368fee","type":"comment","z":"b292a92f.556238","name":"1.) Set the client_id for ALL Injectors","info":"","x":200,"y":40,"wires":[]},{"id":"89674dae.48b95","type":"comment","z":"b292a92f.556238","name":"2.) Buy some kWh","info":"","x":130,"y":140,"wires":[]},{"id":"b00ba630.079ea8","type":"comment","z":"b292a92f.556238","name":"responses","info":"","x":840,"y":600,"wires":[]},{"id":"be766c6f.c051b","type":"comment","z":"b292a92f.556238","name":"loop","info":"","x":490,"y":720,"wires":[]},{"id":"acf0619e.f5c9","type":"mqtt-broker","z":"","name":"mqtt.chargeiq.de","broker":"mqtt.chargeiq.de","port":"8883","tls":"d82d424a.d6db","clientid":"API","usetls":true,"compatmode":false,"keepalive":"60","cleansession":false,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d82d424a.d6db","type":"tls-config","z":"","name":"cfssl","cert":"","key":"","ca":"","certname":"client.pem","keyname":"client-key.pem","caname":"ca-chain.pem","servername":"","verifyservercert":false}]